html, body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background: url('../images/background-pattern.png') fixed #0c0e23;
}
header .hero-image {
    height: 200px;
    background: url('../images/nbu_logo_white.svg') #161660 no-repeat 50% 50%;
    background-size: 55%;
    margin: 0px auto;
}
header nav {
    background: linear-gradient(#8f8f8f,#3C3C3C);
}
header nav .nav-toggler-wrapper {
    display: none;
    cursor: pointer;
}
header nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 1024px;
    font-size: 0; /* remove white spaces between li elements */
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    display: block;
    line-height: 45px;
    padding: 0px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #d2d2d2;
    font-size: 13px;
}
header nav ul li a:hover, header nav ul li a.active {
    color: white;
    text-shadow: #000000 1px 1px 2px;
    background-color: #a4a4a4;
    transition: all 0.3s;
}
section.section {
    background-color: white;
    width: 1024px;
    margin: 0px auto;
    min-height: 100vh;
    box-shadow: 0px 0px 30px 10px #000000;
    display: flex;
    flex-direction: column
}
.section main {
    flex: 1;
    padding: 15px;
}
main a {
    color: darkblue;
    transition: color 0.3s;
}
main a:hover {
    color: red;
    text-decoration: none;
}
article figure {
    border: 1px solid #222222;
    border-radius: 5px;
    max-width: 400px;
}
figure.left {
    float: left;
    margin: 0 15px 15px 0px;
}
figure.right {
    float: right;
    margin: 0 0 15px 15px;
}
figure img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    vertical-align: top;
}
figure figcaption {
    border-top: 1px dashed #222222;
    padding: 8px 5px;
    font-size: 12px;
}
figcaption[title] {
    cursor: help;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
article p {
    text-align: justify;
    line-height: 1.3em;
}
footer {
    text-align: center;
    border-top: 1px solid #222222;
    background-color: #161660;
    color: white;
    line-height: 35px;
    font-size: 15px;
}
footer img {
    width: 22px;
    margin: 10px;
    vertical-align: middle;
    transition: all 0.3s;
}
footer a:hover img {
    transform: rotate(360deg);
}

@media screen and (max-width: 1024px) {
    section.section {
        width: 100%;
    }
    header .hero-image {
        height: 90px;
    }
    header nav ul {
        display: none;
        position: fixed;
    }
    header nav ul li {
        display: block;
        background-color: #8f8f8f;
        /*background: linear-gradient(#8f8f8f,#777777);*/
    }
    header nav .nav-toggler-wrapper {
        display: block;
        position: fixed;
        right: 20px;
        top: 30px;
    }
    header nav #nav-toggler {
        position: relative;
        display: inline-block;
        width: 1.25em;
        height: 0.8em;
        margin-right: 0.3em;
        border-top: 0.2em solid white;
        border-bottom: 0.2em solid white;
        font-size: 20px;
    }
    header nav #nav-toggler.active {
        border: none;
    }
    header nav #nav-toggler:before, header nav #nav-toggler:after {
        transition: all 0.3s;
    }
    header nav #nav-toggler:before {
        content: "";
        position: absolute;
        top: 0.3em;
        left: 0px;
        width: 100%;
        border-top: 0.2em solid white;
    }
    header nav #nav-toggler.active:before {
        transform: rotate(45deg);
    }
    header nav #nav-toggler.active:after {
        content: "";
        position: absolute;
        bottom: 0.3em;
        left: 0px;
        width: 100%;
        border-top: 0.2em solid white;
        transform: rotate(-45deg);
        transition: all 0.3s;
    }
    article figure {
        max-width: 100%;
        float: clear !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}